@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3b429f;
  --secondary-color: #ef5b5b;
  --text-color: #fdfffc;
  --dark-color: #706c61;
  --clr-white: #fff;
  --clr-black: #000;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--text-color);
  color: var(--clr-black);
}

a {
  text-decoration: none;
}



hr {
  margin: 2rem 0;
}

.text-sm {
  font-size: 0.8rem;
}

/* Containers */
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 85%;
}

/* Global CSS */

/* Custom CSS */
.title {
  text-align: center;
  margin: 1.5rem auto;
  text-transform: uppercase;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.description {
  width: 80%;
  margin: 0.25rem auto;
}

.description p {
  margin: 0.5rem auto;
}
